<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <!-- Linking jQuery --> 
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <!-- Linking Materialize Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Linkning personal style sheet -->
        <link rel="stylesheet" href="css/style.css" type='text/css'>

        <title>Document</title>
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="nav-extended">
            <div class="nav-wrapper container">
              <a href="/" class="brand-logo">Logo</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
              </ul>
            </div>
            <div class="nav-content row">
              <ul class="tabs tabs-transparent">
                <li class="tab bluetabs col l3"><a href="#test1">Test 1</a></li>
                <li class="tab bluetabs col l3"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab disabled bluetabs col l3"><a href="#test3">Disabled Tab</a></li>
                <li class="tab bluetabs col l3"><a href="#test4">Test 4</a></li>
              </ul>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    
        <div id="test1" class="col s12"></div>
        <div id="test2" class="col s12"></div>
        <div id="test3" class="col s12"></div>
        <div id="test4" class="col s12"></div>       

        

        {{{body}}}

        <script>
            // This is needed for the collapsed navbar menu to pop open
            (function($){
                $(function(){

                $('.sidenav').sidenav();
                $('.parallax').parallax();

                }); // end of document ready
            })(jQuery); // end of jQuery name space

            // For selecting colleges on results page
            $(document).on("click", ".collection-item", function () {
                if ($(this).attr("class") === "collection-item") {
                    $(this).attr("class", "collection-item active");
                }
                else {
                    $(this).attr("class", "collection-item");
                }
            })
        </script>
    </body>

</html>