<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <!-- Linking jQuery --> 
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        
        <!-- Linkning personal style sheet -->
        <link rel="stylesheet" href="/css/style.css" type='text/css'>

        <title>Document</title>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
            <a href="index.handlebars" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!">Sass</a></li>
                <li><a href="#!">Components</a></li>
                <li class="active"><a href="#!">JavaScript</a></li>
            </ul>
            </div>
        </nav>

        {{{body}}}
    </body>

</html>