<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Linking jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Linking Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">

    <!-- Linkning personal style sheet -->
    <link rel="stylesheet" href="css/style.css" type='text/css'> {{!-- link to firebase --}}
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

    <link rel="shortcut icon" href="../../images/schoolicon.png" />    
    <title>NC Colleges</title>

</head>

<body>
    <!-- Nav Bar -->
    <nav class="nav-extended hoverable light-green darken-3">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo header-font sizing">North Carolina Higher Education</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down header-font">
                <li>
                    <a href="/search">Search</a>
                </li>
                <li>
                    <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
                </li>
                <li class='image-div'>
                    <img id="img-circle" src="/images/man1.png">
                </li>
                <li>
                    <a href="#" class="logoutBtn">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <ul class="sidenav header-font" id="mobile-demo">

        <li>
            <a href="/search">Search</a>
        </li>
        <li>
            <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
        </li>
        <li>
            <a href="/profile" class='profile'>Profile</a>
        </li>
        <li>
            <a href="#" class="logoutBtn">Logout</a>
        </li>
    </ul>

    <!-- Login Modal -->
    <div id="modal1" class="modal fade">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <i class="large material-icons">insert_chart</i>
                    <p class="center login-form-text">Material Design Admin Template</p>
                </div>
            </div>

            <div class="row">
                <div class="col s2">
                    <i class="medium material-icons" style='color:steelblue;'>person_outline</i>
                </div>

                <div class="input-field col s9">
                    <input id="modal-email" type="text">
                    <label for="modal-email" class="center-align">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="col s2">
                    <i class="medium material-icons" style='color:steelblue;'>enhanced_encryption</i>
                </div>

                <div class="input-field col s9">
                    <input id="modal-password" type="password">
                    <label for="modal-password">Password</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 center-align">
                    <a href="#" class="btn waves-effect waves-light loginBtn">Login</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="medium">
                        <a href="/signup">Register Now!</a>
                    </p>
                </div>
            </div>
        </form>

    </div>



    {{{body}}}

    <footer class="page-footer light-green darken-3 header-font">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4">North Carolina college finder is rigorously trademarked and copyrighted.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="/">Home</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/profile">Profile</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Log out</a>
                        </li>
                        <li>
                            <a class="modal-trigger grey-text text-lighten-3" href="#modal1">Login / Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 1977 Copyright
            </div>
        </div>
    </footer>

    <script>
        // This is needed for the collapsed navbar menu to pop open
        (function ($) {
            $(function () {

                $('.sidenav').sidenav();
                $('.parallax').parallax();
                $('.modal').modal();

            }); // end of document ready
        })(jQuery); // end of jQuery name space

        // For selecting colleges on results page
        $(document).on("click", ".collection-item", function () {
            if ($(this).attr("class") === "collection-item") {
                $(this).attr("class", "collection-item active");
            }
            else {
                $(this).attr("class", "collection-item");
            }
        });

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAFA_1zt0lcNdNWK12Qc6elrZBP0GpGSUQ",
            authDomain: "college-finder-738c6.firebaseapp.com",
            databaseURL: "https://college-finder-738c6.firebaseio.com",
            projectId: "college-finder-738c6",
            storageBucket: "college-finder-738c6.appspot.com",
            messagingSenderId: "1076388845287"
        };
        firebase.initializeApp(config);

        $(document).ready(function() {


            // log-out button
            $('.logoutBtn').on('click', function (event) {
                firebase.auth().signOut();
                console.log('logout');
            });

            // Add log-in event
            $('.loginBtn').on('click', function(event) {
                // get email and pass
                var email = $('#modal-email').val().trim();
                var pass = $('#modal-password').val().trim();

                // validate email and password aren't blank
                function validateForm() {
                    var isValid = true;
                    if (email === '' || pass === '') {
                        // alert user to fill out txt inputs with alert div
                        alert('Email and Password must be filled out');
                        isValid = false;
                    }
                    return isValid;
                };
                if(!validateForm()) {
                    return;
                };
                
                // sign-in
                var promise = firebase.auth().signInWithEmailAndPassword(email, pass);
                // promise.catch(e => console.log(e.message));
                promise.catch(function(event) {
                    console.log(event.message);
                });

                
            });                   
            
            // add realtime listener to check if a user is logged in
            // find conditional to see if logged in or not
            firebase.auth().onAuthStateChanged(function (firebaseUser) {
                if(firebaseUser) {
                    console.log(firebase.auth().currentUser.email + ' is currently logged in.');
                    $('.logoutBtn').show();
                    $('.login').hide();
                    firebase.storage().ref('profile_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(function(url) {
                    console.log(url);
                
                    // insert url into image src
                    var img = document.getElementById('img-circle');
                    img.src = url;
                    }).catch(function(error) {
                    // Handle any errors
                });
                } else {
                    console.log('Not logged in.');
                    $('.logoutBtn').hide();
                    $('.login').show();
                };
                $('.modal').modal('close');
            }); 
        });
        
    </script>


</body>

</html>