<!-- Stuff that goes in index.handlebars -->

<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="/images/Flag.jpg" alt="img">
    </div>
</div>

<div class="container">

    {{!-- Intro goes here --}}
    <br>
    <h4>Welcome!</h4>
    <p style='font-size:18pt;'>Finding the right college can feel overwhelming at times. With location, academics, and the ever scary tuition to consider,
        the task is a difficult one. But here at OUR TEAM NAME, we will help you find several option right here in North
        Carolina. From the mountains, through the piedmont, all the way to the crystal coast, you are sure to find the perfect
        college for this exciting new chapter of your life.
    </p>




    <div class="section">
        <div class="row">
            <div class="row topColleges">
                <h4>Top Colleges In NC</h4>
                {{!-- dynamically generated college cards go here --}}
            </div>
            <img src="/images/rankingseal.png" style='height:100px;width:200px;display:block;margin:0 auto;' alt="ranking seal">
            <div class="row topCommunityColleges">
                <h4>Top Community Colleges</h4>
                {{!-- dynamicall generate community colleges here --}}
            </div>
            <img src="/images/rankingseal.png" style='height:100px;width:200px;display:block;margin:0 auto;' alt="ranking seal">
            <div class="icon-block">
                <br>
                <br>
                <h4>Why North Carolina?</h4>

                <p class="light" style='font-size:20pt;'>
                    North Carolina has three unique regions to offer every college student somewhere to call home.
                </p>
            </div>
            <br>
            <div class="row z-depth-4" style='background-color:steelblue;'>
                <div class="col l4 s12">
                    <br>

                    <h5 class='center' style='color:white;'>Mountains</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/mountains.svg" alt="NC Mountain Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a href='#mountainscroll' class="waves-effect waves-light btn center-align" style='color:white;background-color:mediumaquamarine;'>Spotlight</a>
                    </div>
                    <br>
                </div>

                <div class="col l4 s12">
                    <br>
                    <h5 class='center' style='color:white;'>Piedmont</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/piedmont.svg" alt="NC Piedmont Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a href='#piedmontscroll' class="waves-effect waves-light btn center-align" style='color:white;background-color:darksalmon;'>Spotlight</a>
                    </div>
                    <br>
                </div>

                <div class="col l4 s12">
                    <br>
                    <h5 class='center' style='color:white;'>Coast</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/coast.svg" alt="NC Coastal Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a href='#coastscroll' class="waves-effect waves-light btn center-align" style='color:white;background-color:rgb(214,210,138);'>Spotlight</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="parallax">
        <img src="images/mountainFlowers.jpg" alt="NC Mountains">
    </div>
</div>

<div class="container" id='mountainscroll'>
    <div class="section">
        <div class="row">
            <br>
            <h4 class='center-align'>Mountain College Spotlight</h4>
            <div class="col l6 s12">
                <h5>Appalachian State University</h5>
                <p style='font-size:14pt;'>"Appalachian State University, in North Carolina’s Blue Ridge Mountains, prepares students to lead purposeful
                    lives as global citizens who understand and engage their responsibilities in creating a sustainable future
                    for all. The transformational Appalachian experience promotes a spirit of inclusion that brings people
                    together in inspiring ways to acquire and create knowledge, to grow holistically, to act with passion
                    and determination, and embrace diversity and difference. As one of 17 campuses in the University of North
                    Carolina system, Appalachian enrolls about 19,000 students, has a low student-to-faculty ratio and offers
                    more than 150 undergraduate and graduate majors."</p>
                <p>-App State</p>
            </div>
            <div class="col l1"></div>
            <div class="col l5 s12">
                <h5>Quick Facts:</h5>
                <ul type='square' class='browser-default'>
                    <li>16:1 student/faculty ratio</li>
                    <li>average class size of 27</li>
                    <li>150+ undergrad and grad majors</li>
                    <li>In State Tuition: $3,826.00 per semester</li>
                    <li>Out of State Tuition: $11,229.50 per semester</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="images/charlotte.jpg" alt="charlotte, nc">
    </div>
</div>

<div class="container section scrollspy" id="piedmontscroll">
    <div class="section">
        <div class="row">
            <br>
            <h4 class='center-align'>Piedmont College Spotlight</h4>
            <div class="col l6 s12">
                <h5>University of North Carolina at Charlotte</h5>
                <p style='font-size:14pt;'>"UNC Charlotte is North Carolina's urban research university. It leverages its location in the state's largest
                    city to offer internationally competitive programs of research and creative activity, exemplary undergraduate,
                    graduate and professional programs, and a focused set of community engagement initiatives. UNC Charlotte
                    maintains a particular commitment to addressing the cultural, economic, educational, environmental, health,
                    and social needs of the greater Charlotte region."</p>
                <p>-UNCC</p>
            </div>
            <div class="col l1"></div>
            <div class="col l5 s12">
                <h5>Quick Facts:</h5>
                <ul type='square' class='browser-default'>
                    <li>19:1 student/faculty ratio</li>
                    <li>average class size of 35</li>
                    <li>139 undergrad majors</li>
                    <li>In State Tuition: $3,496.50 per semester</li>
                    <li>Out of State Tuition: $10,213.50 per semester</li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper section scrollspy">
    <div class="parallax">
        <img src="images/beach.jpg" alt="img">
    </div>
</div>

<div class="container section scrollspy" id="coastscroll">
    <div class="section">
        <div class="row">
            <br>
            <h4 class='center-align'>Coastal College Spotlight</h4>
            <div class="col l6 s12">
                <h5>University of North Carolina at Wilmington</h5>
                <p style='font-size:14pt;'>"The University of North Carolina Wilmington, the state’s coastal university, is dedicated to the integration
                    of teaching and mentoring with research and service. Our commitment to student engagement, creative inquiry,
                    critical thinking, thoughtful expression, and responsible citizenship is expressed in our baccalaureate
                    and masters’ programs, as well as doctoral programs in areas of expertise that serve state needs. Our
                    culture reflects our values of diversity and globalization, ethics and integrity, and excellence and
                    innovation."
                </p>
                <p>-UNCW</p>
            </div>
            <div class="col l1"></div>
            <div class="col l5 s12">
                <h5>Quick Facts:</h5>
                <ul type='square' class='browser-default'>
                    <li>18:1 student/faculty ratio</li>
                    <li>55 undergrad and 38 grad majors</li>
                    <li>In State Tuition: $4,400.00 per semester</li>
                    <li>Out of State Tuition: $18,416.00 per semester</li>
                </ul>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        // populate top colleges
        var name = ['UNC', 'DUKE', 'NCSU', 'DAVIDSON', 'UNCSA', 'WAKE', 'APP', 'GCD'];
        var source = ['/images/UNC.jpg', "/images/Duke.png", "/images/NCState.png", "/images/Davidson.jpg", "/images/UNCSA.jpg", "/images/WF.jpg", '/images/app.png', '/images/grace.jpeg'];
        var website = ["https://www.unc.edu/", "https://www.duke.edu/", "https://www.ncsu.edu/", "https://www.davidson.edu/", "https://www.uncsa.edu/", "https://www.wfu.edu/", "https://www.appstate.edu/", "https://www.gcd.edu/"];
        var gradRate = ['91%', '95%', '77%', '95%', '62%', '88%', '73%', '56%'];
        var cost = ['$8,591', '$49,241', '$8,581', '$46,966', '$8,983', '$47,682', '$6,852', '$4,080'];

        for (var i = 0; i < 8; i++) {
            $('.topColleges').append(
                "<div class='col l3 m6 s6'> <div class='card'> <div class='card-image waves-effect waves-block waves-light'> <img class='activator' src=" + source[i] + '>' +
                '</div><div class="card-content"><span class="card-title activator grey-text text-darken-4">' + name[i] +
                '<i class="material-icons right">more_vert</i></span><p><a href=' + website[i] +
                '>More Info</a></p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">' + name[i] +
                '<i class="material-icons right">close</i></span><br><p><p>COST</p><p>' + cost[i] +
                '</p><br><p><p>GRADUATION RATE</p><p>' + gradRate[i] +
                '</p></p></div></div></div>'
            );
        }

        // populate community colleges
        var ccName = ['PCC', 'JSCC', 'CCC', 'ICC', 'MCC', 'RCCC', 'CCCC', 'ACC'];
        var ccSource = ['/images/pamlico.jpg', "/images/james.jpg", "/images/ccc.gif", "/images/isothermal.jpg", "/images/mcc.png", "/images/rc.png", '/images/cccc.jpg', '/images/alamance.jpg'];
        var ccWebsite = ["https://www.pamlicocc.edu/", "https://www.jamessprunt.edu/", "https://www.clevelandcc.edu/", "https://www.isothermal.edu/", "https://www.montgomery.edu/", "https://www.roanokechowan.edu/", "https://www.cccc.edu/", "https://www.alamancecc.edu/"];
        var ccGradRate = ['53%', '19%', '21%', '10%', '28%', '18%', '25%', '29%'];
        var ccCost = [];

        for (var i = 0; i < 8; i++) {
            $('.topCommunityColleges').append(
                "<div class='col l3 m6 s6'> <div class='card'> <div class='card-image waves-effect waves-block waves-light'> <img class='activator' src=" + ccSource[i] + '>' +
                '</div><div class="card-content"><span class="card-title activator grey-text text-darken-4">' + ccName[i] +
                '<i class="material-icons right">more_vert</i></span><p><a href=' + ccWebsite[i] +
                '>More Info</a></p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">' + ccName[i] +
                '<i class="material-icons right">close</i></span><br><p><p>COST</p>' +
                '</p><br><p><p>GRADUATION RATE</p><p>' + ccGradRate[i] +
                '</p></p></div></div></div>'
            );
        }

        // Smooth scrolling element for region buttons
        $(document).on("click", 'a[href*="#"]:not([href="#"])', function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

    });
</script>
<!-- End index.handlebars -->