<!-- Stuff that goes in index.handlebars -->
<div class="container">
    <div class="section">
        <div class="row">


            <div class="row">
                <h4>Top Colleges In NC</h4>
                <div class="col l4 s6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="http://webclasses.qrsd.org/~jrobidoux/Tables/images/UNC%20logo.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">UNC
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="https://www.unc.edu/">More Info</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">UNC
                                <i class="material-icons right">close</i>
                            </span>
                            <br>
                            <p>
                                <p>COST</p>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>                                
                            </p>
                            <br>
                            <p>
                                <p>GRADUATION RATE</p>
                                <p>91%</p>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col l4 s6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Duke_Blue_Devils_logo.svg/2000px-Duke_Blue_Devils_logo.svg.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">DUKE
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="https://www.duke.edu/">More Info</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">DUKE
                                <i class="material-icons right">close</i>
                            </span>
                            <br>
                            <p>
                                <p>COST</p>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>                                
                            </p>
                            <br>
                            <p>
                                <p>GRADUATION RATE</p>
                                <p>95%</p>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col l4 s6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/North_Carolina_State_University_Athletic_logo.svg/2000px-North_Carolina_State_University_Athletic_logo.svg.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">NCSU
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="https://www.ncsu.edu/">More Info</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">NCSU
                                <i class="material-icons right">close</i>
                            </span>
                            <br>
                            <p>
                                <p>COST</p>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>                                
                            </p>
                            <br>
                            <p>
                                <p>GRADUATION RATE</p>
                                <p>77%</p>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col l4 s6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="http://davidsonwildcats.com/images/2017/3/7/BigWildcatLogo_copy.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">DAVIDSON
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="https://www.davidson.edu/">More Info</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">DAVIDSON
                                <i class="material-icons right">close</i>
                            </span>
                            <br>
                            <p>
                                <p>COST</p>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>                                
                            </p>
                            <br>
                            <p>
                                <p>GRADUATION RATE</p>
                                <p>95%</p>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col l4 s6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="http://city-ballet.com/wp-content/uploads/2013/11/UNCSAlogo-300x178.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">UNCSA
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="https://www.uncsa.edu/">More Info</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">UNCSA
                                <i class="material-icons right">close</i>
                            </span>
                            <br>
                            <p>
                                <p>COST</p>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>                                
                            </p>
                            <br>
                            <p>
                                <p>GRADUATION RATE</p>
                                <p>62%</p>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col l4 s6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://wfbands.wfu.edu/files/2011/06/WF3C-mascotH.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">WAKE FOREST
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="https://www.wfu.edu/">More Info</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">WAKE FOREST
                                <i class="material-icons right">close</i>
                            </span>
                            <br>
                            <p>
                                <p>COST</p>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>
                                <i class="material-icons">attach_money</i>                                
                                <i class="material-icons">attach_money</i>                                
                            </p>
                            <br>
                            <p>
                                <p>GRADUATION RATE</p>
                                <p>88%</p>
                            </p>
                        </div>
                    </div>
                </div>


            </div>


            <div class="icon-block">
                <br>
                <br>
                <h4>Why North Carolina?</h4>

                <p class="light">
                    North Carolina has three unique regions to offer every college student somewhere to call home.
                </p>
            </div>
            <br>
            <div class="row z-depth-4" style='background-color:steelblue;'>
                <div class="col l4 s12">
                    <br>

                    <h5 class='center' style='color:white;'>Mountains</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/mountains.svg" alt="NC Mountain Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a class="waves-effect waves-light btn center-align" style='color:white;background-color:mediumaquamarine;'>Mountain Colleges</a>
                    </div>
                    <br>
                </div>

                <div class="col l4 s12">
                    <br>
                    <h5 class='center' style='color:white;'>Piedmont</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/piedmont.svg" alt="NC Piedmont Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a class="waves-effect waves-light btn center-align" style='color:white;background-color:darksalmon;'>Piedmont Colleges</a>
                    </div>
                    <br>
                </div>

                <div class="col l4 s12">
                    <br>
                    <h5 class='center' style='color:white;'>Coast</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/coast.svg" alt="NC Coastal Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a class="waves-effect waves-light btn center-align" style='color:white;background-color:rgb(214,210,138);'>Coastal Colleges</a>
                    </div>
                    <br>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="parallax">
        <img src="images/mountainFlowers.jpg" alt="NC College Map">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12">
                <div class="icon-block">
                    <br>
                    <br>
                    <h5 class="center">Feature one</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="images/charlotte.jpg" alt="img">
    </div>
</div>

<div class="container section scrollspy" id="projects">
    <div class="section">
        <br>
        <br>
        <h4 class="center">Top Colleges In North Carolina</h4>
        <br>
        <div class="row">
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/blur-flowers-nature-471-827x550.jpg">
            </div>
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/1415117217bc45x.jpg">
            </div>
        </div>
        <!--row-->

        <div class="row">
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/1397154567yttyy.jpg">
            </div>
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/1399827845b0i1k.jpg">
            </div>
        </div>
        <!--row-->

        <div class="center">
            <a class="waves-effect waves-light btn purple lighten-1">View more</a>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="parallax">
        <img src="images/beach.jpg" alt="img">
    </div>
</div>



<!-- End index.handlebars -->