<!-- Stuff that goes in index.handlebars -->

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center teal-text text-lighten-2">Parallax Theme</h1>
            <div class="row center">
                <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h5>
            </div>
            <div class="row center">
                <a href="#" class="btn-large waves-effect waves-light purple lighten-1">Find more</a>
            </div>
            <br>
            <br>

        </div>
    </div>
    <div class="parallax">
        <img src="images/charlotte.jpg" alt="NC College Map">
    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center" style="color:#333">
                        <i class="mdi-av-new-releases"></i>
                    </h2>
                    <h5 class="center">Feature one</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center" style="color:#333">
                        <i class="mdi-hardware-cast"></i>
                    </h2>
                    <h5 class="center">Feature two</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center" style="color:#333">
                        <i class="mdi-hardware-keyboard-alt"></i>
                    </h2>
                    <h5 class="center">Feature three</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12" style="color: #333;">Vertically centered text</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="images/beach.jpg" alt="img">
    </div>
</div>

<div class="container section scrollspy" id="projects">
    <div class="section">
        <br>
        <br>
        <h4 class="center">Our Work</h4>
        <br>
        <div class="row">
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/blur-flowers-nature-471-827x550.jpg">
            </div>
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/1415117217bc45x.jpg">
            </div>
        </div>
        <!--row-->

        <div class="row">
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/1397154567yttyy.jpg">
            </div>
            <div class="col s6">
                <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="images/1399827845b0i1k.jpg">
            </div>
        </div>
        <!--row-->

        <div class="center">
            <a class="waves-effect waves-light btn purple lighten-1">View more</a>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center row col s3">

                <h3>About Us</h3>
            </div>
            <div class="center row col s12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

        </div>
    </div>
    <div class="parallax">
        <img src="images/mountainFlowers.jpg" alt="img">
    </div>
</div>


<!-- End index.handlebars -->