<!-- Stuff that goes in index.handlebars -->

<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="/images/flag.jpg" alt="img">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="row topColleges">
                <h4>Top Colleges In NC</h4>
                {{!-- dynamically generated colleg cards go here --}}
            </div>
            <div class="icon-block">
                <br>
                <br>
                <h4>Why North Carolina?</h4>

                <p class="light">
                    North Carolina has three unique regions to offer every college student somewhere to call home.
                </p>
            </div>
            <br>
            <div class="row z-depth-4" style='background-color:steelblue;'>
                <div class="col l4 s12">
                    <br>

                    <h5 class='center' style='color:white;'>Mountains</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/mountains.svg" alt="NC Mountain Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a class="waves-effect waves-light btn center-align" style='color:white;background-color:mediumaquamarine;'>Mountain Colleges</a>
                    </div>
                    <br>
                </div>

                <div class="col l4 s12">
                    <br>
                    <h5 class='center' style='color:white;'>Piedmont</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/piedmont.svg" alt="NC Piedmont Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a class="waves-effect waves-light btn center-align" style='color:white;background-color:darksalmon;'>Piedmont Colleges</a>
                    </div>
                    <br>
                </div>

                <div class="col l4 s12">
                    <br>
                    <h5 class='center' style='color:white;'>Coast</h5>
                    <br>
                    <img src="//share---north-carolina.bldg15.net/visitnc-package/images/regions/coast.svg" alt="NC Coastal Region" class="full-size">
                    <br>
                    <div class="row center">
                        <a class="waves-effect waves-light btn center-align" style='color:white;background-color:rgb(214,210,138);'>Coastal Colleges</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="parallax">
        <img src="images/mountainFlowers.jpg" alt="NC College Map">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12">
                <div class="icon-block">
                    <br>
                    <br>
                    <h5 class="center">Feature one</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="images/charlotte.jpg" alt="img">
    </div>
</div>

<div class="container section scrollspy" id="projects">
    <div class="section">
        <br>
        <br>
        <h4 class="center">Top Colleges In North Carolina</h4>
        <br>
    </div>
</div>


<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="parallax">
        <img src="images/beach.jpg" alt="img">
    </div>
</div>


<script>
    $(document).ready(function () {
        var name = ['UNC', 'DUKE', 'NCSU', 'DAVIDSON', 'UNCSA', 'WAKE', 'APP', 'GCD'];
        var source = ['/images/UNC.jpg', "/images/DUKE.png", "/images/NCState.png", "/images/Davidson.jpg", "/images/UNCSA.jpg", "/images/WF.jpg", '/images/app.png', '/images/grace.jpeg'];
        var website = ["https://www.unc.edu/", "https://www.duke.edu/", "https://www.ncsu.edu/", "https://www.davidson.edu/", "https://www.uncsa.edu/", "https://www.wfu.edu/", "https://www.appstate.edu/", "https://www.gcd.edu/"];
        var gradRate = ['91%', '95%', '77%', '95%', '62%', '88%', '73%', '56%'];
        var cost = [];

        for (var i = 0; i < 8; i++) {
            $('.topColleges').append(
                "<div class='col l3 m4 s6'> <div class='card'> <div class='card-image waves-effect waves-block waves-light'> <img class='activator' src=" + source[i] + '>' +
                '</div><div class="card-content"><span class="card-title activator grey-text text-darken-4">' + name[i] +
                '<i class="material-icons right">more_vert</i></span><p><a href=' + website[i] +
                '>More Info</a></p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">' + name[i] +
                '<i class="material-icons right">close</i></span><br><p><p>COST</p>' +
                '</p><br><p><p>GRADUATION RATE</p><p>' + gradRate[i] +
                '</p></p></div></div></div>'
            );
        }
    });
</script>
<!-- End index.handlebars -->