<br>
<br>
<div class="container profile">
    {{!-- Photo and Name --}}
    <div class="row">
        <button class="btn waves-effect waves-light blue" type="submit" name="action" id="history">View Profile
        </button>
    </div>

    <div class="row">
        <img src="images/man.jpeg" style='width:400px;height:300px;' alt="User Photo" id='userPhoto'>
        <br>
        <h3 id='firstName'>Name</h3>
        <h3 id='lastName'>Here</h3>
    </div>
    
    <div class="row">

    </div>

    {{!-- Display previous serches here from Firebase --}}
    <div class="row">
        {{!-- Need to add JS to dynamically load this info from firebase --}}
        <table>
            <thead>
                <tr>
                    <th>Degree</th>
                    <th>Program</th>
                    <th>Tuition</th>
                </tr>
            </thead>

            <tbody id=searched>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>

// Link to firebase js file for profile

$(document).ready(function(){

    // Button added to execute firebase calls
    $("#history").on("click", function(event){
        displaySearches();
        displayUser();
    });        

    // displays first name and last name
    function displayUser() {
        var userId = firebase.auth().currentUser.uid;

        firebase.database().ref('users/' + userId).once('value', function(snap) {
            var first = snap.val().firstName;
            var last = snap.val().lastName;
            $('#firstName').text(first);
            $('#lastName').text(last);
        })
    }

    // displays last 5 search criteria from form
    function displaySearches() {
        var userId = firebase.auth().currentUser.uid;

        firebase.database().ref('users/' + userId).child('searches').limitToLast(5).on('child_added', function(snap) {    
            var count = $('#searched tr').length;
            if (count > 4) {
                $('#searched tr:last').remove();
            }
            $('#searched').prepend('<tr class="trow"><td> ' +
                snap.val().degree_type + ' </td><td> ' +
                snap.val().program + ' </td><td> ' +
                snap.val().max_tuition + ' </td></tr>');
            }, function(errorObject) {
            console.log('The read failed: ' + errorObject.code);
        });
    }; 

});

</script>