<br>
<br>
<div class="container profile">
    {{!-- Photo and Name --}}
    <div class="row">
        <img src="images/man.jpeg" style='width:400px;height:300px;' alt="User Photo" id='userPhoto'>
        <br>
        <h3 id='firstName'>Name</h3>
        <h3 id='lastName'>Here</h3>
    </div>

    <div class="row">

    </div>

    {{!-- Display previous serches here from Firebase --}}
    <div class="row">
        {{!-- Need to add JS to dynamically load this info from firebase --}}
        <table>
            <thead>
                <tr>
                    <th>City</th>
                    <th>Degree</th>
                    <th>Program</th>
                    <th>Tuition</th>
                </tr>
            </thead>

            <tbody id=searched>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>

// Link to firebase js file for profile

$(document).ready(function(){
        
    // console.log('current user: ' + firebase.auth().currentUser.uid);
    // displaySearches(firebase.auth().currentUser.uid);

    function displaySearches(userId) {
        firebase.database().ref('users/' + userId).child('searches').limitToLast(5).on('child_added', function(snap) {    
            var count = $('#searched tr').length;
            if (count > 5) {
                $('#searched tr:last').remove();
            }
            $('#searched').prepend('<tr class="trow"><td> ' +
                city + '</td><td> ' +
                snap.val().degree_type + ' </td><td> ' +
                snap.val().program + ' </td><td> ' +
                snap.val().max_tuition + ' </td></tr>');
            }, function(errorObject) {
            console.log('The read failed: ' + errorObject.code);
        });
    };

    // add realtime listener to check if a user is logged in
    // remove this listener from submit page when login is available on main page
    //firebase.auth().onAuthStateChanged(function (firebaseUser) {
    //    if(firebaseUser) {
    //        console.log(firebase.auth().currentUser.email + ' is currently logged in.');
    //        displaySearches(firebase.auth().currentUser.uid);
    //    } else {
    //        console.log('Not logged in.');
    //    };
    //}); 

});

</script>