<br>
<br>
<div class="container profile">
    {{!-- Photo and Name --}}
    <div class="row">
        <img src="images/man.jpeg" style='width:400px;height:300px;' alt="User Photo" id='userPhoto'>
        <br>
        <h3 id='firstName'>Name</h3>
        <h3 id='lastName'>Here</h3>
    </div>

    <div class="row">

    </div>

    {{!-- Display previous serches here from Firebase --}}
    <div class="row">
        {{!-- Need to add JS to dynamically load this info from firebase --}}
        <table>
            <thead>
                <tr>
                    <th>City</th>
                    <th>Degree</th>
                    <th>Program</th>
                    <th>Tuition</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>

// Link to firebase js file for profile

</script>