<br>
<br>
<div class="container profile">
    {{!-- Photo and Name --}}
    <div class="row">
        <input type='file' id='fileButton'>
    </div>

    <div class="row">
        <img src="images/man1.png" style='width:200px;height:200px;' alt="User Photo" id='userPhoto'>
        <br>
        <h3 id='firstName' class="header-font">Name</h3>
        <h3 id='lastName' class="header-font">Here</h3>
    </div>
    
    <div class="row">

    </div>

    {{!-- Display previous serches here from Firebase --}}
    <div class="row">
        {{!-- Need to add JS to dynamically load this info from firebase --}}
        <table>
            <thead>
                <tr>
                    <th class="content-font">Degree</th>
                    <th class="content-font">Program</th>
                    <th class="content-font">Tuition</th>
                </tr>
            </thead>

            <tbody id=searched>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>

// Link to firebase js file for profile

$(document).ready(function(){

    // Button added to execute firebase calls
    $("#history").on("click", function(event){
    });        

    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            displaySearches();
            displayUser();
            firebase.storage().ref('profile_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(function(url) {
                console.log(url);
              
                // insert url into image src
                var img = document.getElementById('userPhoto');
                img.src = url;
                }).catch(function(error) {
                // Handle any errors
            });
        }
        // else clear out profile
    })

    // get elements    
    var fileButton = document.getElementById('fileButton');

    // Listen for file selection
    fileButton.addEventListener('change', function(e) {
        // Get file
        var file = e.target.files[0];

        // Create a storage ref
        var storageRef = firebase.storage().ref('profile_photo/' + firebase.auth().currentUser.uid);
        // substitute file.name with uid

        // Upload file
        storageRef.put(file);        
    });

    // displays first name and last name
    function displayUser() {
        var userId = firebase.auth().currentUser.uid;

        firebase.database().ref('users/' + userId).once('value', function(snap) {
            var first = snap.val().firstName;
            var last = snap.val().lastName;
            $('#firstName').text(first);
            $('#lastName').text(last);
        })
    }

    // displays last 5 search criteria from form
    function displaySearches() {
        var userId = firebase.auth().currentUser.uid;

        firebase.database().ref('users/' + userId).child('searches').limitToLast(5).on('child_added', function(snap) {    
            var count = $('#searched tr').length;
            if (count > 4) {
                $('#searched tr:last').remove();
            }
            $('#searched').prepend('<tr class="trow"><td class="content-font"> ' +
                snap.val().degree_type + ' </td><td class="content-font"> ' +
                snap.val().program + ' </td><td class="content-font"> ' +
                snap.val().max_tuition + ' </td></tr>');
            }, function(errorObject) {
            console.log('The read failed: ' + errorObject.code);
        });
    }; 

});

</script>