<!-- Stuff that goes in results page -->
        <div class="container">
            <div class="collection">
                <a href="#!" class="collection-item">College 1 goes here</a>
                <a href="#!" class="collection-item active">College 2</a>
                <a href="#!" class="collection-item">College 3</a>
                <a href="#!" class="collection-item">College 4</a>
                <a href="#!" class="collection-item">College 5</a>
                <a href="#!" class="collection-item">College 6</a>
                <a href="#!" class="collection-item">College 7</a>
                <a href="#!" class="collection-item">College 8</a>
                <a href="#!" class="collection-item">College 9</a>
                <a href="#!" class="collection-item">College 10</a>
            </div>
        </div>
        

        <!-- End Results page -->