body {
    background-color: snow;
}

/* Nav Bar style */
nav {
    background: skyblue;
}

.bluetabs {
    background: steelblue;
}


.material-icons {
    color: steelblue;
}

#rememberMe [type=checkbox]:checked {
    background: steelblue;
}

.parallax-container {
    height: 350px;
}

.results-field {
    height: 400px;
    overflow: auto;
    z-index: 10;
}
