body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: snow;
}

main {
    flex: 1 0 auto;
}
/* Nav Bar style */
nav {
    background: skyblue;
}

.bluetabs {
    background: steelblue;
}


.material-icons {
    color: steelblue;
}

#rememberMe [type=checkbox]:checked {
    background: steelblue;
}

.parallax-container {
    height: 350px;
}

.results-field {
    height: 400px;
    overflow: scroll;
}

