<div class="container">
<h2>Find the Perfect College</h2>
{{#if user}}
<p>User Search</p>
<div class="row">
    <form class="col s12">
        <div class="row">
        <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
        </div>
        </div>
        <div class="row">
        <label>Degree Type</label>
        <select class="browser-default">
            <option value="" disabled selected>Choose One:</option>
            <option value="1">2 Year Degree (Associates)</option>
            <option value="2">4 Year Degree (Bachelors)</option>
        </select>
        </div>
        <div class="row">
            <label>Home State</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose One:</option>
                <option value="1">North Carolina</option>
                <option value="2">Out of State</option>
            </select>
            </div>
        <div class="row">
            <label>Program</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose One:</option>
                <option value="1">Science</option>
                <option value="2">Arts</option>
            </select>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
            </button>
        </div>
    </form>
</div>
{{/if}}

{{#else}}
<p>Guest Search</p>
<form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <label>Degree Type</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose One:</option>
                <option value="1">2 Year Degree (Associates)</option>
                <option value="2">4 Year Degree (Bachelors)</option>
            </select>
        </div>
        <div class="row">
                <label>Home State</label>
                <select class="browser-default">
                    <option value="" disabled selected>Choose One:</option>
                    <option value="1">North Carolina</option>
                    <option value="2">Out of State</option>
                </select>
            </div>
            <div class="row">
                <label>Program</label>
                <select class="browser-default">
                    <option value="" disabled selected>Choose One:</option>
                    <option value="1">Science</option>
                    <option value="2">Arts</option>
                </select>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
                </button>
            </div>
        </form>
    {{/#else}}
</div>